# Copyright cocotb contributors
# Licensed under the Revised BSD License, see LICENSE for details.
# SPDX-License-Identifier: BSD-3-Clause
BasedOnStyle:  Google
IndentWidth:     4
AccessModifierOffset: -2
