*.py[cod]

# C extensions
*.so

# C objects
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
obj
develop-eggs
.installed.cfg
__pycache__

# Vim tmp files
*.swp
*~

# Emacs tmp files
\#*\#
\.\#*

# Mergetool tmp files
*.orig
*.bak

# Waveforms
*.vcd

# Results
results.xml
combined_results.xml

# VCS files
*.tab
sim_build
ucli.key

# Cadence Incisive/Xcelium
*.elog
irun.log
xrun.log
irun.key
xrun.key
irun.history
xrun.history
INCA_libs
xcelium.d
ncelab_*.err
xmelab_*.err
ncsim_*.err
xmsim_*.err
bpad_*.err
.bpad/
.simvision/
waves.shm/
