# Python
__pycache__

# Waveforms
*.vcd

# Results
results.xml
sim_build

# VCS files
*.tab
ucli.key

# Cadence Incisive/Xcelium
*.elog
irun.log
xrun.log
irun.key
xrun.key
irun.history
xrun.history
INCA_libs
xcelium.d
ncelab_*.err
xmelab_*.err
ncsim_*.err
xmsim_*.err
bpad_*.err
.bpad/
.simvision/
waves.shm/

# Mentor Modelsim/Questa
modelsim.ini
transcript
*.wlf

# Riviera
library.cfg
dataset.asdb
compile
library.cfg
dataset.asdb
compile
