# Python dependencies to build the documentation

Sphinx ~= 3.4
breathe
sphinx-rtd-theme
cairosvg
sphinxcontrib-makedomain
sphinxcontrib-spelling
pyenchant
sphinx-issues
sphinx-argparse
towncrier
IPython
sphinx-tabs
