# Copyright cocotb contributors
# Licensed under the Revised BSD License, see LICENSE for details.
# SPDX-License-Identifier: BSD-3-Clause

#
# DO NOT RENAME THIS FILE!
# PyPi uploads use OIDC, aka Trusted Publishing, to avoid the need for API keys.
# https://pypi.org/manage/project/cocotb/settings/publishing/ is configured to
# allow uploads from the cocotb GitHub project and this exact file name.
#

name: Release

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: ${{ !(contains(github.ref, 'release/') || contains(github.ref, 'master')) }}

on:
  # Run this workflow on every push to master or to a stable branch.
  push:
    branches:
      - master
      - "stable/**"
    tags:
      - 'v*'

jobs:
  build_release:
    name: Build distribution on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # Keep going even if one matrix build fails.
      matrix:
        os:
          - ubuntu-22.04
          - windows-2022
          - macos-15-intel  # x86_64
          - macos-14        # ARM64
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: "3.12"
      - name: Install nox
        run: python3 -m pip install nox

      # Use the cibuildwheel configuration inside nox, instead of the
      # cibuildwheel GitHub Action, to make the process easy to reproduce
      # locally.
      - name: Build cocotb release
        run: nox -s release_build

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: cocotb-dist-${{ matrix.os }}
          path: |
            dist/*.whl
            dist/*.tar.gz

  test_sdist:
    name: Test the source distribution (sdist)
    needs: build_release
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        path: dist
        pattern: cocotb-dist-*
        merge-multiple: true
    - name: Install nox
      run: python3 -m pip install nox
    - name: Smoke-test the sdist
      run: nox -s release_test_sdist

  test_release:
    name: Regression Tests
    needs: build_release
    uses: ./.github/workflows/regression-tests.yml
    with:
      nox_session_test_sim: release_test_sim
      nox_session_test_nosim: release_test_nosim
      download_artifacts: true
      group: ci-free

  test_release_licensed:
    name: Regression Tests
    needs: build_release
    uses: ./.github/workflows/regression-tests.yml
    with:
      nox_session_test_sim: release_test_sim
      nox_session_test_nosim: release_test_nosim
      download_artifacts: true
      group: ci-licensed

  deploy_pypi:
    name: Deploy to pypi.org
    needs:
    - test_release
    - test_release_licensed
    - test_sdist
    permissions:
      id-token: write
    runs-on: ubuntu-22.04
    # Only upload tagged releases.
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        path: dist
        pattern: cocotb-dist-*
        merge-multiple: true
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
      # Authentication to PyPi is done through OIDC ("Trusted Publishing").
