# Copyright cocotb contributors
# Licensed under the Revised BSD License, see LICENSE for details.
# SPDX-License-Identifier: BSD-3-Clause
name: Regression Tests

on:
  workflow_call:
    inputs:
      nox_session_test_sim:
        required: true
        type: string
        default: dev_test_sim
      with_nosim:
        required: false
        type: boolean
        default: true
        description: Whether to run non-simulator tests
      collect_coverage:
        required: false
        type: boolean
        default: false
      download_artifacts:
        required: false
        type: boolean
        default: false
      group:
        required: false
        type: string
        default: "ci-free"
        description: Group of environments to run the tests against. Leave empty to run them all.
      max_parallel:
        required: false
        type: number
        default: 0
        description: Maximum number of parallel matrix jobs
      setup_python:
        required: false
        type: string
        description: Which Github Action to setup Python

jobs:

  generate_envs:
    runs-on: ubuntu-latest
    name: Generate a list of environments to run tests against
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - run: ./.github/generate-envs.py --output-format=gha --gha-output-file="$GITHUB_OUTPUT" --group="${{inputs.group}}"
      id: run_generate_script
    outputs:
      envs: ${{ steps.run_generate_script.outputs.envs }}

  tests:

    needs: generate_envs

    name: ${{matrix.name}}
    runs-on: ${{matrix.runs-on}}
    timeout-minutes: 60

    env:
      SIM: ${{matrix.sim}}
      TOPLEVEL_LANG: ${{matrix.lang}}
      CXX: ${{matrix.cxx || 'g++'}}
      CC: ${{matrix.cc || 'gcc'}}
      OS: ${{matrix.os}}
      PYTHON_VERSION: ${{matrix.python-version}}

    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.generate_envs.outputs.envs) }}
      max-parallel: ${{ inputs.max_parallel }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        # GitHub PR's create a merge commit, and Actions are run on that commit.
        # Codecov's uploader needs the previous commit (tip of PR branch) to associate coverage correctly.
        # A fetch depth of 2 provides enough information without fetching the entire history.
        fetch-depth: 2

    - name: setup ccache
      uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      with:
        key: ${{ matrix.os }}-${{matrix.cc || 'gcc'}}
    - name: setup ccache path
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      run: |
        echo "/usr/lib/ccache:/usr/local/opt/ccache/libexec" >> $GITHUB_PATH

     # Use the ccache cache for all compilers.

    - name: Update package index (ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update

     # Download distribution artifacts (if any).
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        path: dist
        pattern: cocotb-dist-*
        merge-multiple: true
      if: ${{ inputs.download_artifacts }}

      # Install Python
    - name: Set up Python ${{matrix.python-version}} (setup-python)
      if: matrix.setup_python == ''
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{matrix.python-version}}
        allow-prereleases: true

    - name: Install msys2 (Windows)
      if: startsWith(matrix.os, 'windows') && matrix.sim == 'icarus'
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >
          base-devel
          gperf
          mingw-w64-x86_64-toolchain

      # Install
    - name: Install XML-dependencies for Python 3.14
      if: startsWith(matrix.python-version, '3.14') && startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install -y --no-install-recommends libxml2-dev libxslt-dev
      # Run tests that don't need a simulator.
    - name: Install Python testing dependencies
      run: |
        pip install nox

    - name: Run tests without simulators
      if: ${{ matrix.test_nosim }}
      run: nox -s "${{ inputs.nox_session_test_nosim }}"
      continue-on-error: ${{matrix.may-fail || false}}

      # Install Icarus
    - name: Set up Icarus (Ubuntu - apt)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'icarus' && matrix.sim-version == 'apt'
      run: |
        sudo apt-get install -y --no-install-recommends iverilog
    - name: Set up Icarus (Ubuntu - source)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'icarus' && matrix.sim-version != 'apt'
      run: |
        sudo apt-get install -y --no-install-recommends g++ gperf flex bison make autoconf
        git clone https://github.com/steveicarus/iverilog.git
        cd iverilog
        git reset --hard ${{matrix.sim-version}}
        bash ./autoconf.sh
        # Icarus 11.0 fails to configure under Ubuntu 22.04 without explicitly
        # telling it where to find the preprocessor.
        CXXCPP=/usr/bin/cpp bash ./configure
        make -j $(nproc)
        sudo make install
    - name: Set up Icarus (Windows - source - pt. 1)
      if: startsWith(matrix.os, 'windows') && matrix.sim == 'icarus'
      run: |
        git config --global core.autocrlf input
        git clone https://github.com/steveicarus/iverilog.git
        cd iverilog
        git reset --hard ${{matrix.sim-version}}
    - name: Set up Icarus (Windows - source - pt. 2)
      if: startsWith(matrix.os, 'windows') && matrix.sim == 'icarus'
      timeout-minutes: 10
      shell: msys2 {0}
      env:
        MINGW_ARCH: MINGW64
      run: |
        cd iverilog
        cd msys2
        makepkg-mingw --noconfirm --noprogressbar -sCLf
    - name: Set up Icarus (Windows - source - pt. 3)
      if: startsWith(matrix.os, 'windows') && matrix.sim == 'icarus'
      timeout-minutes: 10
      shell: msys2 {0}
      env:
        MINGW_ARCH: MINGW64
      run: |
        pacman -U --noconfirm iverilog/msys2/*.zst
        echo "$(dirname $(cygpath -m $(which iverilog)))" >> $GITHUB_PATH
    - name: Set up Icarus (MacOS - homebrew --HEAD)
      if: startsWith(matrix.os, 'macos') && matrix.sim == 'icarus' && matrix.sim-version == 'homebrew-HEAD'
      run: |
        brew install icarus-verilog --HEAD
    - name: Set up Icarus (MacOS - homebrew)
      if: startsWith(matrix.os, 'macos') && matrix.sim == 'icarus' && matrix.sim-version == 'homebrew-stable'
      run: |
        brew install icarus-verilog

      # Install GHDL
    - name: Set up GHDL (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'ghdl'
      run: |
        sudo apt-get install -y --no-install-recommends gnat
        git clone https://github.com/ghdl/ghdl.git
        cd ghdl
        git reset --hard ${{matrix.sim-version}}
        mkdir build
        cd build
        ../configure
        make -j $(nproc)
        sudo make install

      # Install NVC
    - name: Set up NVC (Ubuntu, release)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'nvc' && startsWith(matrix.sim-version, 'r') && matrix.cc != 'clang'
      uses: nickg/setup-nvc@v1
      with:
        version: ${{matrix.sim-version}}
    - name: Set up NVC (Windows, release)
      if: startsWith(matrix.os, 'windows') && matrix.sim == 'nvc'
      uses: nickg/setup-nvc@v1
      with:
        version: ${{matrix.sim-version}}
    - name: Set up NVC (Ubuntu, source)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'nvc' && (!startsWith(matrix.sim-version, 'r') || matrix.cc == 'clang')
      run: |
        sudo apt-get install -y --no-install-recommends llvm-dev libdw-dev flex
        git clone --depth=1 --no-single-branch https://github.com/nickg/nvc.git
        cd nvc
        git reset --hard ${{matrix.sim-version}}
        ./autogen.sh
        mkdir build
        cd build
        ../configure
        make -j $(nproc)
        sudo make install

      # Install Verilator (Linux)
    - name: Set up Verilator (Ubuntu - source)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'verilator'
      run: |
        sudo apt-get install -y --no-install-recommends help2man make g++ perl python3 autoconf flex bison libfl2 libfl-dev zlib1g zlib1g-dev
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git reset --hard ${{matrix.sim-version}}
        autoconf
        ./configure
        make -j $(nproc)
        sudo make install

      # Install Verilator (MacOS)
    - name: Set up Verilator (MacOS - source)
      if: startsWith(matrix.os, 'macos') && matrix.sim == 'verilator'
      run: |
        brew install autoconf help2man
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git reset --hard ${{matrix.sim-version}}
        autoconf
        ./configure
        make -j $(sysctl -n hw.logicalcpu)
        sudo make install

      # Windows Testing
    - name: Test (Windows)
      if: startsWith(matrix.os, 'windows')
      id: windowstesting
      continue-on-error: ${{matrix.may-fail || false}}
      run: |
        nox -k "${{ inputs.nox_session_test_sim }} and ${{ matrix.sim }} and ${{ matrix.lang }}"
      env:
        COCOTB_ANSI_OUTPUT: 1
        COCOTB_CI_SKIP_MAKE: 1

      # Ubuntu / MacOS Testing
    - name: Install cocotb build dependencies (Ubuntu - g++)
      if: startsWith(matrix.os, 'ubuntu') && (!matrix.cxx || matrix.cxx == 'g++')
      run: |
        sudo apt-get install g++
    - name: Install cocotb build dependencies (Ubuntu - clang++)
      if: startsWith(matrix.os, 'ubuntu') && matrix.cxx == 'clang++'
      run: |
        sudo apt-get install clang llvm
    - name: Install cocotb build dependencies (MacOS)
      if: startsWith(matrix.os, 'macos')
      run: |
        g++ --version
    - name: Test (Ubuntu, MacOS)
      id: unixtesting
      if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
      continue-on-error: ${{matrix.may-fail || false}}
      timeout-minutes: 40
      run: |
        if [ "${{matrix.self-hosted}}" == "true" ]; then
          module load "${{ matrix.sim-version }}"
        fi
        nox -k "${{ inputs.nox_session_test_sim }} and ${{ matrix.sim }} and ${{ matrix.lang }}"
      env:
        COCOTB_ANSI_OUTPUT: 1

    # codecov
    - name: Combine and report coverage
      if: inputs.collect_coverage && matrix.cxx != 'clang++'
      run: nox -s dev_coverage_combine
    - name: Combine and report coverage (clang)
      if: inputs.collect_coverage && matrix.cxx == 'clang++'
      run: nox -s dev_coverage_combine -- 'llvm-cov gcov'

    - name: Upload to codecov
      if: inputs.collect_coverage
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      env:
        # https://community.codecov.com/t/upload-issues-unable-to-locate-build-via-github-actions-api/3954
        CODECOV_TOKEN: 669f2048-851e-479e-a618-8fa64f3736cc
      with:
        files: .python_coverage.xml,.cpp_coverage.xml
        name: ${{ matrix.name }}
        env_vars: SIM,TOPLEVEL_LANG,CXX,OS,PYTHON_VERSION
        verbose: true
