# Copyright cocotb contributors
# Licensed under the Revised BSD License, see LICENSE for details.
# SPDX-License-Identifier: BSD-3-Clause
name: Regression Tests

on:
  workflow_call:
    inputs:
      nox_session_test_sim:
        required: true
        type: string
        default: dev_test_sim
      nox_session_test_nosim:
        required: true
        type: string
        default: dev_test_nosim
      collect_coverage:
        required: false
        type: boolean
        default: false
      download_artifacts:
        required: false
        type: boolean
        default: false
      group:
        required: false
        type: string
        default: "ci-free"
        description: Group of environments to run the tests against. Leave empty to run them all.
      max_parallel:
        required: false
        type: number
        default: 0
        description: Maximum number of parallel matrix jobs
      setup_python:
        required: false
        type: string
        description: Which Github Action to setup Python

jobs:

  generate_envs:
    runs-on: ubuntu-latest
    name: Generate a list of environments to run tests against
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
    - run: ./.github/generate-envs.py --output-format=gha --gha-output-file="$GITHUB_OUTPUT" --group="${{inputs.group}}"
      id: run_generate_script
    outputs:
      envs: ${{ steps.run_generate_script.outputs.envs }}

  tests:

    needs: generate_envs

    name: ${{matrix.name}}
    runs-on: ${{matrix.runs-on}}
    timeout-minutes: 60

    env:
      SIM: ${{matrix.sim}}
      TOPLEVEL_LANG: ${{matrix.lang}}
      CXX: ${{matrix.cxx || 'g++'}}
      CC: ${{matrix.cc || 'gcc'}}
      OS: ${{matrix.os}}
      PYTHON_VERSION: ${{matrix.python-version}}

    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.generate_envs.outputs.envs) }}
      max-parallel: ${{ inputs.max_parallel }}

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        # GitHub PR's create a merge commit, and Actions are run on that commit.
        # Codecov's uploader needs the previous commit (tip of PR branch) to associate coverage correctly.
        # A fetch depth of 2 provides enough information without fetching the entire history.
        fetch-depth: 2

    - name: setup ccache
      uses: hendrikmuhs/ccache-action@63069e3931dedbf3b63792097479563182fe70d1 # v1.2
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      with:
        key: ${{ matrix.os }}-${{matrix.cc || 'gcc'}}
    - name: setup ccache path
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      run: |
        echo "/usr/lib/ccache:/usr/local/opt/ccache/libexec" >> $GITHUB_PATH

     # Use the ccache cache for all compilers.

    - name: Update package index (ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update

     # Download distribution artifacts (if any).
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
      with:
        path: dist
        pattern: cocotb-dist-*
        merge-multiple: true
      if: ${{ inputs.download_artifacts }}

      # Install Python
    - name: Set up Python ${{matrix.python-version}} (setup-python)
      if: matrix.setup_python == '' && (startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos'))
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: ${{matrix.python-version}}
        allow-prereleases: true
    - name: Set up Python ${{matrix.python-version}} (pyenv)
      if: matrix.setup_python == 'pyenv' && (startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos'))
      uses: gabrielfalcao/pyenv-action@a1fc55906be92612782934c70e3985b940bd0165  # v18
      with:
        default: ${{matrix.python-version}}
        command: pip install -U pip  # upgrade pip after installing python
    - name: Set up Anaconda ${{matrix.python-version}} (Windows)
      if: startsWith(matrix.os, 'windows')
      uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f  # v3.2.0
      with:
        # Use base environment to properly import _sqlite3 DLL - see gh-3166
        auto-activate-base: true
        activate-environment: ""
    - name: Set up python version for Anaconda (base) ${{matrix.python-version}} (Windows)
      if: startsWith(matrix.os, 'windows')
      run: conda install --yes python=${{matrix.python-version}}

      # Windows-specific: Setup mingw as default compiler
    - name: Setup mingw as default compiler (Windows, mingw)
      if: startsWith(matrix.os, 'windows') && matrix.toolchain == 'mingw'
      run: |
        "[build]`ncompiler=mingw32`nforce=1`n[build_ext]`ncompiler=mingw32`nforce=1" | Out-File -Encoding ASCII -FilePath $Env:USERPROFILE\pydistutils.cfg
    - name: Install cocotb build dependencies (Windows, mingw)
      if: startsWith(matrix.os, 'windows') && matrix.toolchain == 'mingw'
      run: conda install --yes -c msys2 m2-base m2-make m2w64-toolchain libpython
    - name: Install cocotb runtime dependencies (Windows, msvc)
      if: startsWith(matrix.os, 'windows') && matrix.toolchain == 'msvc'
      run: conda install --yes -c msys2 m2-base m2-make

      # Install
    - name: Install XML-dependencies for Python 3.14
      if: startsWith(matrix.python-version, '3.14') && startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install -y --no-install-recommends libxml2-dev libxslt-dev
      # Run tests that don't need a simulator.
    - name: Install Python testing dependencies
      run: |
        pip install nox

    - name: Run tests without simulators
      if: ${{ matrix.test_nosim }}
      run: nox -s "${{ inputs.nox_session_test_nosim }}"
      continue-on-error: ${{matrix.may-fail || false}}

      # Install Icarus
    - name: Set up Icarus (Ubuntu - apt)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'icarus' && matrix.sim-version == 'apt'
      run: |
        sudo apt-get install -y --no-install-recommends iverilog
    - name: Set up Icarus (Ubuntu - source)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'icarus' && matrix.sim-version != 'apt'
      run: |
        sudo apt-get install -y --no-install-recommends g++ gperf flex bison make autoconf
        git clone https://github.com/steveicarus/iverilog.git
        cd iverilog
        git reset --hard ${{matrix.sim-version}}
        bash ./autoconf.sh
        bash ./configure
        make -j $(nproc)
        sudo make install
    - name: Set up Icarus (Windows - source)
      if: startsWith(matrix.os, 'windows') && matrix.sim == 'icarus'
      timeout-minutes: 7
      run: |
        conda install -c msys2 m2-base m2-make m2-autoconf m2-flex m2-bison m2-gperf m2w64-toolchain
        git clone https://github.com/steveicarus/iverilog.git
        cd iverilog
        git reset --hard ${{matrix.sim-version}}
        bash ./autoconf.sh
        bash ./configure --host=x86_64-w64-mingw32 --prefix=/c/iverilog
        make -j $(nproc) install
        echo "C:\iverilog\bin" | Out-File -Append -FilePath $env:GITHUB_PATH -Encoding utf8
    - name: Set up Icarus (MacOS - homebrew --HEAD)
      if: startsWith(matrix.os, 'macos') && matrix.sim == 'icarus' && matrix.sim-version == 'homebrew-HEAD'
      run: |
        brew install icarus-verilog --HEAD
    - name: Set up Icarus (MacOS - homebrew)
      if: startsWith(matrix.os, 'macos') && matrix.sim == 'icarus' && matrix.sim-version == 'homebrew-stable'
      run: |
        brew install icarus-verilog

      # Install GHDL
    - name: Set up GHDL (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'ghdl'
      run: |
        sudo apt-get install -y --no-install-recommends gnat
        git clone https://github.com/ghdl/ghdl.git
        cd ghdl
        git reset --hard ${{matrix.sim-version}}
        mkdir build
        cd build
        ../configure
        make -j $(nproc)
        sudo make install

      # Install NVC
    - name: Set up NVC (Ubuntu, release)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'nvc' && startsWith(matrix.sim-version, 'r') && matrix.cc != 'clang'
      uses: nickg/setup-nvc@v1
      with:
        version: ${{matrix.sim-version}}

    - name: Set up NVC (Ubuntu, source)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'nvc' && (!startsWith(matrix.sim-version, 'r') || matrix.cc == 'clang')
      run: |
        sudo apt-get install -y --no-install-recommends llvm-dev libdw-dev flex
        git clone --depth=1 --no-single-branch https://github.com/nickg/nvc.git
        cd nvc
        git reset --hard ${{matrix.sim-version}}
        ./autogen.sh
        mkdir build
        cd build
        ../configure
        make -j $(nproc)
        sudo make install

      # Install Verilator (Linux)
    - name: Set up Verilator (Ubuntu - source)
      if: startsWith(matrix.os, 'ubuntu') && matrix.sim == 'verilator'
      run: |
        sudo apt-get install -y --no-install-recommends help2man make g++ perl python3 autoconf flex bison libfl2 libfl-dev zlib1g zlib1g-dev
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git reset --hard ${{matrix.sim-version}}
        autoconf
        ./configure
        make -j $(nproc)
        sudo make install

      # Install Verilator (MacOS)
    - name: Set up Verilator (MacOS - source)
      if: startsWith(matrix.os, 'macos') && matrix.sim == 'verilator'
      run: |
        brew install autoconf help2man
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git reset --hard ${{matrix.sim-version}}
        autoconf
        ./configure
        make -j $(sysctl -n hw.logicalcpu)
        sudo make install

      # Windows Testing
    - name: Test (Windows)
      if: startsWith(matrix.os, 'windows')
      id: windowstesting
      continue-on-error: ${{matrix.may-fail || false}}
      # Virtual environments don't work on Windows with cocotb. Avoid using them
      # in nox testing.
      run: |
        nox --no-venv -k "${{ inputs.nox_session_test_sim }} and ${{ matrix.sim }} and ${{ matrix.lang }}"
      env:
        COCOTB_ANSI_OUTPUT: 1

      # Ubuntu / MacOS Testing
    - name: Install cocotb build dependencies (Ubuntu - g++)
      if: startsWith(matrix.os, 'ubuntu') && (!matrix.cxx || matrix.cxx == 'g++')
      run: |
        sudo apt-get install g++
    - name: Install cocotb build dependencies (Ubuntu - clang++)
      if: startsWith(matrix.os, 'ubuntu') && matrix.cxx == 'clang++'
      run: |
        sudo apt-get install clang
    - name: Install cocotb build dependencies (MacOS)
      if: startsWith(matrix.os, 'macos')
      run: |
        g++ --version
    - name: Test (Ubuntu, MacOS)
      id: unixtesting
      if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
      continue-on-error: ${{matrix.may-fail || false}}
      timeout-minutes: 40
      run: |
        if [ "${{matrix.self-hosted}}" == "true" ]; then
          module load "${{ matrix.sim-version }}"
        fi
        nox -k "${{ inputs.nox_session_test_sim }} and ${{ matrix.sim }} and ${{ matrix.lang }}"
      env:
        COCOTB_ANSI_OUTPUT: 1

    # codecov
    - name: Combine and report coverage
      if: inputs.collect_coverage
      run: nox -s dev_coverage_combine

    - name: Upload to codecov
      if: inputs.collect_coverage
      uses: codecov/codecov-action@fdcc8476540edceab3de004e990f80d881c6cc00  # v5.5.0
      env:
        # https://community.codecov.com/t/upload-issues-unable-to-locate-build-via-github-actions-api/3954
        CODECOV_TOKEN: 669f2048-851e-479e-a618-8fa64f3736cc
      with:
        files: .python_coverage.xml,.cpp_coverage.xml
        name: ${{ matrix.name }}
        env_vars: SIM,TOPLEVEL_LANG,CXX,OS,PYTHON_VERSION
        verbose: true
