# Copyright cocotb contributors
# Licensed under the Revised BSD License, see LICENSE for details.
# SPDX-License-Identifier: BSD-3-Clause

name: "Stale Questions"
on:
  schedule:
  - cron: "00 02 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v8
      with:
        repo-token: ${{secrets.GITHUB_TOKEN}}
        days-before-stale: 30
        days-before-close: 7
        stale-issue-message: >
          Has your question been resolved? If so please close this issue.
          If it has not been resolved, you may need to provide more information.
          If no more activity on this issue occurs in 7 days, it will be closed.
        stale-issue-label: "status:stale"
        stale-pr-message: >
          Are you still actively working on this pull request?
          You may have requested changes that need to be addressed.
          If the maintainers aren't being timely with a review, we apologize.
          Please bump this pull request to keep it alive.
          If no more activity on this pull request occurs in 7 days, it will be closed.
        stale-pr-label: "status:stale"
        any-of-labels: "type:question,status:close?"
        operations-per-run: 30
